@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Reset default values */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global variables */
:root {
    --blockWidth: 16vw;
    --mainMargin: calc(var(--blockWidth) / 4);

    --red: rgb(235, 194, 182);
    --green: rgb(178, 236, 185);
    --blue: rgb(145, 197, 235);
}

@media screen and (min-width: 1024px) {
    :root {
        --blockWidth: 12vw;
    }
}

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: [aside] var(--blockWidth) [main] auto;
    grid-template-rows: [nav] var(--blockWidth) [main] auto [footer] var(--blockWidth);
    column-gap: var(--mainMargin);
}

nav,
aside,
article,
footer {
    display: block;
}

li:not(ol>li) {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.aside {
    padding: 8px;
    background-color: var(--red);
    border: 1px solid black;
    text-align: center;
}

.aside:nth-of-type(1) {
    grid-column: 1 / 1;
    grid-row: 1 / span 2;
}

.aside:nth-of-type(2) {
    grid-column: 1 / 1;
    grid-row: 3 / 3;
    background-color: var(--green);
    border-top: none;
}

header {
    grid-row: 1 / 1;
    padding: calc(var(--mainMargin) / 3);
    background-color: var(--blue);
    border: 1px solid black;
}

nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-logo {
    width: var(--blockWidth);
    height: var(--mainMargin);
    background-color: #fff;
    border: 1px solid black;
}

.top-logo:hover {
    opacity: 0.8;
}

.navbar {
    width: 40%;
    display: flex;
    justify-content: space-between;
    float: right;
}

article {
    grid-row: 2 / 3;
    padding: 36px;
    background-color: transparent;
    border-left: 1px solid black;
}

article p {
    text-align: justify;
}

footer {
    grid-row: 3 / 4;
    padding: calc(var(--mainMargin) / 3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
    border: 1px solid black;
}

.bottom-logo {
    width: var(--blockWidth);
    height: var(--mainMargin);
    background-color: #fff;
    border: 1px solid black;
}

.center--flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-col {
    flex-direction: column;
}